.image-container {
    display: flex;
    wrap: nowrap;
    overflow: hidden;
    padding-top: 60px;
}

.image-container-2 {
    position: relative;
    min-width: 100%;
    transition: all 0.5s linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.5s;
}
.image-container-2 img {
    width: 90%;
    height: auto;
    border-radius: 20px;
}

@keyframes slideImages {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.kategori {
    display: flex;
    gap: 10px;
}

.kategori a {
    color: rgb(0, 139, 254);
    padding: 8px 15px;
    border: 1px solid rgb(0, 139, 254);
    border-radius: 30px;
    transition: 0.3s;
}

.kategori a:hover {
    background-color: rgb(244, 175, 27);
    border: 1px solid rgb(0, 139, 254, 0);
    color: white;
}

.kategori a.kategori-aktif {
    background-color: rgb(244, 175, 27);
    border: 1px solid rgb(0, 139, 254, 0);
    color: white;
}

.text-h1 {
    margin-top: 0px;
}

.teks-dan-slide h3 {
    margin-bottom: 10px;
}
.slide-buttons button {
    background-color: rgb(54, 151, 211);
    border: 1px solid rgb(17, 109, 167, 0);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: rgb(247, 248, 249);
}

.slide-buttons button:hover {
    border: 1px solid rgb(17, 109, 167);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.pembungkus-market {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    max-width: none;
    overflow-x: scroll;
    white-space: normal;
    position: relative;
}

.pembungkus-market::-webkit-scrollbar {
    width: 0;
    height: 8px; /* Sesuaikan dengan lebar scrollbar yang Anda inginkan */
}

.pembungkus-market::-webkit-scrollbar-thumb {
    background: transparent; /* Menghilangkan warna latar belakang thumb scrollbar */
}

.pembungkus-market .kotak {
    /* flex-basis: 32%; */
    border: 1px solid rgba(100, 100, 111, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s;
    background-color: rgb(247, 248, 249);
    flex: 0 0 250px;
    max-width: 100%;
    margin-bottom: 20px;
}

.pembungkus-market .kotak:hover {
    border: 1px solid rgb(0, 139, 254);
}

.pembungkus-market a {
    text-align: center;

    background-color: rgb(247, 248, 249);
    border-radius: 20px;
    transition: 0.2s;
    padding: 8px 0px;
    width: 100%;
    border: 1px solid rgb(54, 151, 211);
    color: rgb(91, 91, 91);
    font-size: 13px;
    margin: auto auto 0px auto;
}

.pembungkus-market a:hover {
    background-color: rgb(54, 151, 211);
    color: white;
}

.pembungkus-market .kotak-deskripsi {
    color: rgb(91, 91, 91);
    margin-bottom: 5px;
    text-align: left;
}

.pembungkus-market .kotak img {
    min-width: 120px;
    width: 100%;
    height: 200px;
    min-height: 120px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

.pembungkus-market .text-kotak {
    color: rgb(91, 91, 91);
}

.pembungkus-market .text-kotak h2 {
    font-size: 20px;
    text-align: left;
}

.pembungkus-market .text-kotak p {
    margin-bottom: 5px;
    text-align: left;
}
.pembungkus-market .kotak .medsos-mentor {
    width: 100%;
    padding: 0px;
    background-color: rgb(247, 248, 249);
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: auto auto 0px auto;
}

.pembungkus-market .kotak .medsos-mentor a {
    text-align: center;

    background-color: rgb(247, 248, 249);
    border-radius: 20px;
    transition: 0.3s;
    padding: 8px 0px;
    width: 45%;
    border: 1px solid rgba(100, 100, 111, 0.2);
    color: rgb(91, 91, 91);
    font-size: 13px;
}

.pembungkus-market .kotak .medsos-mentor a:hover {
    border: 1px solid rgb(54, 151, 211);
    color: rgb(54, 151, 211);
}

.pembungkus-market .kotak .medsos-mentor a i {
    padding-right: 5px;
}

@media (max-width: 1115px) {
}

@media (max-width: 950px) {
    .mentor .text {
        margin-top: 3vh;
    }
}

@media (max-width: 815px) {
    .pembungkus-market .text-kotak h2 {
        font-size: 20px;
    }
}

@media (max-width: 730px) {
    .kategori {
        max-width: none; /* Hapus batasan lebar maksimum */
        overflow-x: scroll;
        white-space: nowrap;
        gap: 5px;
    }
    .kategori a {
        margin-bottom: 10px;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* .kategori::-webkit-scrollbar {
        display: none;
    } */

    /* Hide scrollbar for IE, Edge and Firefox */
    /* .kategori {
        -ms-overflow-style: none; IE and Edge
        scrollbar-width: none; Firefox */

    /* Define the thumb style */
    .kategori::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }

    .kategori::-webkit-scrollbar-thumb {
        background: linear-gradient(
            to bottom right,
            #4d7fff 0%,
            rgb(54, 151, 211) 100%
        );
        border-radius: 20px;
        margin-top: 10px;
    }

    /* Define the track style */
    .kategori::-webkit-scrollbar-track:horizontal {
        background-color: rgb(241, 241, 241);
        box-shadow: inset 0 0 2px 2px rgb(179, 176, 176, 0.1);
    }
}

@media (max-width: 565px) {
    .text-h1 {
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .kategori-produk {
        padding-top: 30px;
    }
    .teks-dan-slide h3 {
        margin-bottom: 5px;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .kategori::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .kategori {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .kategori {
        /* max-width: none;
        overflow-x: auto; 
        white-space: nowrap; */
        margin-top: -20px;
    }
    .text h1 {
        font-size: 1.5em;
    }

    .kategori a {
        font-size: 12px;
    }

    .kategori-mentor {
        padding-top: 3vh;
    }
}
