.footer {
    background-color: rgb(54, 151, 211);
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.footer-kotak {
    display: grid;
    grid-template-areas: "item1 item2 item3";
    justify-content: center;
    padding-top: 50px;
    color: white;
    letter-spacing: 1px;
    gap: 50px;
}

.footer-kotak h2 {
    margin-bottom: 10px;
}

.item1 {
    grid-area: item1;
    text-align: justify;
}

.item2 {
    grid-area: item2;
}

.item2 li {
    list-style: none;
}

.item2 li a {
    color: white;
    transition: 0.3s;
}

.item2 li a:hover {
    text-decoration: underline;
}

.item3 {
    grid-area: item3;
}

.item3-1 {
    display: flex;
}

.item3-2 {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.item3-2 a {
    color: white;
    transition: 0.3s;
}

.item3-2 a:hover {
    text-decoration: underline;
}

.footer hr {
    border: 1px solid rgb(255, 255, 255, 0.3);
    margin-top: 30px;
    margin-bottom: 10px;
}

.copyright p {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

@media (max-width: 1075px) {
    .footer-kotak {
        display: block;
        justify-content: center;
        width: 70%;
        align-items: center;
        margin: auto;
    }

    .footer-kotak h2 {
        margin-top: 20px;
    }
}

@media (max-width: 790px) {
    .item3-1 {
        display: block;
    }

    .item3-2 {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .footer-kotak {
        padding-top: 40px;

        width: auto;
    }
}
